{% extends "base.html" %}
{% block main %}

<!-- top bar -->
<!--div class="top-bar text-center">
  <span>下单成功</span>
</div-->

<div class="success">
  <div class="success__header">
    <h4>下单成功</h4>
    <p>订单编号: 88888888</p>
    <p>下单时间: 2016/12/12</p>
    <p><a href="order_list.html">查看订单</a></p>
  </div>
  <div class="success__action">
    <div>
      <a href="#" class="button button_full button_round"><i class="fa fa-wechat"></i>&nbsp;微信支付</a>
      <p>微信支付立省20元</p>
    </div>
    <div>
      <a href="#" data-modal-toggle class="button button_full button_round"><i class="fa fa-credit-card"></i>&nbsp;银行汇款</a>
    </div>
  </div>
  <div class="success__footer">
    <p>客服电话: <a href="tel://88888888">88888888</a></p>
  </div>
</div>

<div class="modal-bg" data-modal-toggle></div>
<div class="modal" id="card-pay">
  <div class="modal__main">
  <a class="float-right" href="#" data-modal-toggle><i class="fa fa-remove"></i></a>
  <h6>汇款账户</h6>
  <ul>
    <li>公司名称：公司名称</li>
    <li>开户行：</li>
    <li>账户：公司名称</li>
    <li>开户行行号：公司名称</li>
  </ul>
  <p>请核对好汇款信息</p>
  <a href="#" class="button button_full" data-modal-toggle>确认</a>
  </div>
</div>
{% endblock %}
